.banner {
  background-size: cover;
  background-position: top;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  > h1 {
    // margin: 0;
    padding-top: 8%;
    text-align: center;
    color: white;
    font-size: 60px;
    text-shadow: 1px 1px 3px rgba(0,0,0,1);
  }
}
.search_bar {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    form {
      width: 30%;
      justify-content: center;
    }
}
.barre {
  width: 100%;
  display: none;
}

